<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <img src="https://census.gov.in/assets/images/logo_census6.png" alt="img" srcset="">
    <h1 class="display-3">Sign Up</h1>
   
    <hr>
    <a class="btn btn-light btn-lg" href="/login2" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
